*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:#081521;

color:white;

}

.topbar{

height:70px;

background:#10263F;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

}

.logo{

font-size:28px;

font-weight:bold;

color:#FFD700;

}

.top-buttons button{

margin-left:10px;

padding:10px 18px;

border:none;

border-radius:6px;

cursor:pointer;

background:#FFD700;

}

.container{

display:flex;

height:calc(100vh - 70px);

}

.left-panel{

width:260px;

background:#0E2035;

padding:20px;

overflow:auto;

}

.left-panel h2{

margin-bottom:20px;

}

.component{

background:#183552;

padding:15px;

margin-bottom:12px;

border-radius:8px;

cursor:pointer;

text-align:center;

transition:.3s;

}

.component:hover{

background:#FFD700;

color:black;

}

.canvas-area{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:#152C47;

}

#canvas{

width:95%;

height:90%;

background:white;

border-radius:10px;

position:relative;

overflow:hidden;

color:black;

}
