/* ==========================
   ElectroVoltKWh
==========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#07131F;

color:#fff;

overflow-x:hidden;

}

/* ==========================
Header
==========================*/

header{

width:100%;

height:90px;

background:#091B2D;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

border-bottom:2px solid #13304d;

position:sticky;

top:0;

z-index:999;

}

/* Logo */

.logo h2{

font-size:34px;

font-weight:700;

color:#FFD700;

}

.logo span{

color:white;

}

.logo p{

font-size:14px;

color:#bbb;

}

/* Search */

.search-box{

display:flex;

width:550px;

height:50px;

background:white;

border-radius:40px;

overflow:hidden;

}

.search-box input{

flex:1;

border:none;

outline:none;

padding-left:25px;

font-size:16px;

}

.search-box button{

width:70px;

border:none;

background:#FFD700;

font-size:20px;

cursor:pointer;

transition:.3s;

}

.search-box button:hover{

background:#ffbf00;

}

/* Buttons */

.header-buttons{

display:flex;

gap:15px;

}

.upload{

padding:12px 28px;

background:#00B894;

border:none;

color:white;

border-radius:8px;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.upload:hover{

transform:translateY(-2px);

}

.login{

padding:12px 28px;

background:#FFD700;

border:none;

border-radius:8px;

cursor:pointer;

font-size:15px;

}

.login:hover{

background:white;

}

/* ==========================
Navbar
==========================*/

nav{

background:#0D2238;

padding:18px;

}

nav ul{

display:flex;

justify-content:center;

gap:35px;

list-style:none;

}

nav ul li a{

text-decoration:none;

color:white;

font-size:16px;

transition:.3s;

}

nav ul li a:hover{

color:#FFD700;

}

/* ==========================
Hero
==========================*/

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:60px;

line-height:75px;

font-weight:800;

}

.hero-left span{

color:#FFD700;

}

.hero-left p{

margin-top:25px;

font-size:20px;

color:#ccc;

line-height:35px;

}

.hero-buttons{

margin-top:40px;

display:flex;

gap:20px;

}

.btn1{

padding:18px 40px;

background:#FFD700;

border:none;

font-size:18px;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}

.btn1:hover{

transform:translateY(-3px);

}

.btn2{

padding:18px 40px;

background:#00B894;

color:white;

border:none;

font-size:18px;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}

.btn2:hover{

transform:translateY(-3px);

}

.hero-right{

width:45%;

text-align:right;

}

.hero-right img{

width:100%;

max-width:650px;

filter:drop-shadow(0 0 30px #00d4ff);

animation:float 4s ease-in-out infinite;

}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-15px);}
100%{transform:translateY(0);}

}

/* ==========================
Scrollbar
==========================*/

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#FFD700;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#091B2D;

}
